html,body{ 
  padding: 0;
  margin: 0;
  background:#111;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100vw;
  overflow-x: hidden;
}

body{
  height: 100vh;
  width: 100vw;
}

canvas{
  display:block;
  vertical-align:bottom;
}

@font-face{
  font-family: Font_to_Slider;
  src: url(../fonts/EgorycastlePersonal.ttf);
}

@font-face{
  font-family: Font_to_Text;;
  src: url(../fonts/11356.ttf);
}

.topnav {
  position: relative;
  overflow: hidden;
  background-color: #343238;
  z-index: 1;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #ffa100;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
    font-size: 15px;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}

#particles-js{
  width: 100%;
  height: 100%;
  background-image: url("../image/background.png");
  background-size: auto;
  background-repeat: repeat;
  position: fixed;
  z-index: 1;
}

.content{
  position: relative;
  margin: auto;
  width: 100vw;
  z-index: 1; 
}

.inner_content_2{
  width: 80%;
  margin: 30px auto;
  overflow: hidden;
}

.inner_content_2 ul li{
  list-style: none;
  padding: 1.5% 1.5% 1.5% 1.5%;
  background: #fffc66;
  box-shadow: 0px 0px 5px black;
  border-radius: 30px 10px;
  border: 2px solid;
  float: left;  
  font: 10px/1.5 Sans-serif;
  width: 40%;
  height: 60vh;
  margin: 2% 2% 40px 2%;
}

.inner_content_2 ul li a{
  color: black;
  font-size: calc(0.75vh + 0.75vw);
  text-decoration: none;
}

.inner_content_2 ul li a img{
  max-width: 100%;
}

.inner_content_2 img{
  height: 30vh;
  width: 20vw;
  float: left;
  padding: 0px 1vw 1vh 1vw;
}

.footer{
  height: 4.5em;
  width: 100vw;
  background: #343238;
  color: #ffff28;
  font-size: calc(0.75vh + 0.75vw);
  border-top: 1px solid #000000;
  position: relative;
  bottom: 0px;
  z-index: 1;
}



#Social{
  width: 50%;
  float: left;
}
#Social img{
  float: left;
  margin-top: 1vh;
  margin-right: 0.5vw;
  margin-left: 0.5vw;
  width: 2vw;
  height: 4vh;
}

#Rights{
  width:50%;
  float: left;
  text-align: right;
}

#Rights p{
  padding-right: 5vw;
  font-size: calc(0.75vh + 0.75vw)
}

@media only screen and (max-width:940px),
only screen and (max-device-width:940px) {
  .inner_content_2 ul li{
    width: 40%;
  }

  .inner_content_1{
    display: box;
  }

  .inner_content_1 h2{
    margin: 2px 0px 5px 5px;
    font-size: calc(2.5vw + 2.5vh);
  }
  
  .inner_content_1 h3{
    margin: 0px 0px 0px 0px;
    font-size: calc(1.5vw + 1.5vh);
  }

  .inner_content_1 p{
    margin: 0px 0px 5px 0px;
    font-size: calc(1.5vw + 1.5vh);
  }

}

@media only screen and (max-width:720px),
only screen and (max-device-width:720px) {
  .inner_content_2 ul li{
    width: 50%;
    margin-left: 10vw;
  }

  .damn_2{
    margin-left: 10px;
  }

  .inner_content_1{
    display: box;
  }

  .inner_content_1 h2{
    margin: 2px 0px 5px 5px;
    font-size: calc(2.5vw + 2.5vh);
  }
  
  .inner_content_1 h3{
    margin: 0px 0px 0px 0px;
    font-size: calc(1.5vw + 1.5vh);
  }

  .inner_content_1 p{
    margin: 0px 0px 5px 0px;
    font-size: calc(1.5vw + 1.5vh);
  }
}

@media only screen and (max-width:530px),
only screen and (max-device-width:530px) {
  .inner_content_2 ul li{
    width: 80%;
  }

  .inner_content_1{
    display: box;
  }

  .inner_content_1 h2{
    margin: 2px 0px 5px 5px;
    font-size: calc(2.5vw + 2.5vh);
  }
  
  .inner_content_1 h3{
    margin: 0px 0px 0px 0px;
    font-size: calc(1.5vw + 1.5vh);
  }

  .inner_content_1 p{
    margin: 0px 0px 5px 0px;
    font-size: calc(1.5vw + 1.5vh);
  }

}

@media only screen and (max-width:320px),
only screen and (max-device-width:320px) {
  .inner_content_2 ul li{
    width: 60%;
  }

  .inner_content_1{
    display: box;
  }

  .inner_content_1{
    display: box;
  }

  .damn_2{
    margin-left: 15px;
  }
  
  .inner_content_1 h2{
    margin: 2px 0px 5px 5px;
    font-size: calc(2.5vw + 2.5vh);
  }
  
  .inner_content_1 h3{
    margin: 0px 0px 0px 0px;
    font-size: calc(1.5vw + 1.5vh);
  }

  .inner_content_1 p{
    margin: 0px 0px 5px 0px;
    font-size: calc(1.5vw + 1.5vh);
  }
}

@media only screen and (max-width:250px),
only screen and (max-device-width:250px) {
  .inner_content_2 ul li{
    width: 60%;
  }

  .inner_content_1{
    display: box;
  }

  .inner_content_1 h2{
    margin: 2px 0px 5px 5px;
    font-size: calc(2.5vw + 2.5vh);
  }
  
  .inner_content_1 h3{
    margin: 0px 0px 0px 0px;
    font-size: calc(1.5vw + 1.5vh);
  }

  .inner_content_1 p{
    margin: 0px 0px 5px 0px;
    font-size: calc(1.5vw + 1.5vh);
  }
}

@media only screen and (max-width:190px),
only screen and (max-device-width:190px) {
  .inner_content_2 ul li{
    width: 60%;
  }

  .inner_content_1{
    display: box;
  }

  .inner_content_1 h2{
    margin: 2px 0px 5px 5px;
    font-size: calc(2.5vw + 2.5vh);
  }
  
  .inner_content_1 h3{
    margin: 0px 0px 0px 0px;
    font-size: calc(1.5vw + 1.5vh);
  }

  .inner_content_1 p{
    margin: 0px 0px 5px 0px;
    font-size: calc(1.5vw + 1.5vh);
  }
}